@using SocialBlog.Core.Services.Post.Models;
@model PostAllViewModel

<div class="card mb-3" style="max-width: 1320px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-title">@Model.Title</p> 
        <a type="button" class="btn btn-warning" asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Id">Read</a>
        <a type="button" class="btn btn-success" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a type="button" class="btn btn-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
		<p style="display: inline-block;" class="card-text"><small class="text-body-secondary">📅 @Model.Created</small></p>
        <p style="display: inline-block; padding-left: 30px;" class="card-text"><small class="text-body-secondary">👤 @Model.AuthorFullName</small></p>
      </div>
    </div>
  </div>
</div>