@using SocialBlog.Core.Services.Post.Models;
@model PostAllViewModel

<div class="card mb-3" style="max-width: 1320px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="@Model.ImageUrlLink" class="img-fluid rounded-start" alt="Post Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small class="text-body-secondary">Reading time @Model.TimeForRead min.</small></p>
		<p class="card-text"><small class="text-body-secondary">Created: @Model.Created</small></p>
		<p class="card-text"><small class="text-body-secondary">@Model.AuthorFullName</small></p>
		<button type="button" class="btn btn-outline-warning" font-size="20px">Read</button>
		<button type="button" class="btn btn-outline-info">⭐</button>
      </div>
    </div>
  </div>
</div>
