@using Microsoft.AspNetCore.Identity;
@using SocialBlog.Core.Data.Entities;
@using SocialBlog.Core.Services.Author;
@using SocialBlog.Core.Services.Post.Models;
@using SocialBlog.Core.Services.Post;
@using SocialBlog.Infranstructure;

@model DetailsPostViewModel
@inject IAuthorService author
@inject IPostService post
@inject SignInManager<User> SignInManager

<div style="display: inline-block; width: 1000px; border-right: 1px solid whitesmoke;">
	@if (this.SignInManager.IsSignedIn(this.User))
		@if (this.User.IsAdmin() || await this.author.GetAuthorIdByUserId(this.User.Id()) == this.Model.AuthorId)
		{
			<div class="card-body">
				<div class="btn-group" role="group" aria-label="Basic example">
					<form class="input-group" asp-controller="Blog"
				  asp-area="" asp-action="Edit" asp-route-id="@Model.Id" method="get">
						<input class="btn btn-info" type="submit" value="Edit" />
					</form>
					<form class="input-group" asp-controller="Blog"
				  asp-area="" asp-action="Delete" asp-route-id="@Model.Id" method="get">
						<input class="btn btn-danger" type="submit" value="Delete" />
					</form>
				</div>
			</div>
			<p></p>
		}
	<div>
		<h2 style="margin: 15px 0px 35px 0px;">@Model.Title</h2>
		<p style="display:inline-block;">📅 @Model.Created</p>
		<p style="display:inline-block; padding-left: 40px;">👤 @Model.AuthorFullName</p>
		<p style="display:inline-block; padding-left: 40px;">🕒 @Model.TimeForRead min.</p>
		<button style="display:inline-block; margin-left: 40px; border-radius: 25px; border-color: white;" type="button" class="btn btn-outline-info">❤</button>
	</div>
	<img style="width: 800px; margin: 35px 0px 35px 0px" src="@Model.ImageUrlLink" />
	<p style="margin-right: 200px; padding: 15px;">@Model.Text</p>
</div>
<div style="display: inline-block; width: 200px; text-align:center; margin-left: 90px;">
	<h3>
		Similar topics
	</h3>
	<hr />
	<div>
	@foreach(var post in await post.GetAllPostsIdsWithSimilarTag(Model.Tag))
		{
			if(post.Id != Model.Id)
			{
				<a style="margin-bottom: 10px;" type="text" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id" 
				class="btn btn-outline-warning" font-size="20px">@post.Title</a>
			}
		}
	</div>
</div>
<hr />
