@using SocialBlog.Core.Services.Author.Models;

@model AdminAuthorViewModel

<div class="card mb-3" style="max-width: 1320px;">
	<div class="row g-0">
		<div class="col-md-8">
			<div class="card-body">
				<p style="display: inline-block; padding-right: 10px;" class="card-title"><strong>NickName:</strong> @Model.UserNickName</p>
				<p style="display: inline-block; padding-right: 10px;" class="card-title"><strong>FirstName:</strong> @Model.UserFirstName</p>
				<p style="display: inline-block; padding-right: 10px;" class="card-title"><strong>LastName:</strong> @Model.UserLastName</p>
				<p class="card-title"><strong>PhoneNumber:</strong> @Model.PhoneNumber</p>
				<a type="button" class="btn btn-danger" asp-controller="Author" asp-action="Deactivate" asp-route-id="@Model.Id">Deactivate</a>
				<a type="button" class="btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
			</div>
		</div>
	</div>
</div>